.show-class-container {
    height: 80vh;
    padding: 30px;
    display: flex;
    gap: 30px;
}

.go-create-page {
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}